@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
  
pre {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-variant: normal;
    vertical-align: baseline;
    text-decoration: none;
    height: auto;
    width: auto;
    line-height : 14px;
}

span.c {
    color:#153793;
}

.subtitulo {
    font-size: 15px;
    color:#2159D6;
}

.transpose-keys {
	margin: 10px 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}
.transpose-keys a { 
	display: block;
	float: left;
	width: 2.25em;
	text-align: center;
	margin: 0 .25em .25em 0;
	color: #333;
	background: #eee;
	text-decoration: none;
	padding: .4em 0;
	border: solid 1px transparent;
	outline: none;
}
.transpose-keys a.selected { 
  background: #2159D6; 
  color: #FFF;
}

audio{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    }
    
}
