@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url("https://github.com/iosevka-webfonts/iosevka-term/blob/main/woff2/iosevka-term-bold.woff2") format('woff2');
}


@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url("https://github.com/iosevka-webfonts/iosevka-term/blob/main/woff2/iosevka-term-medium.woff2") format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("https://github.com/iosevka-webfonts/iosevka-term/blob/main/woff2/iosevka-term-regular.woff2") format('woff2');
}



pre {
    font-family: 'Iosevka Term Web', monospace;
    font-weight: normal;
    font-variant: normal;
    vertical-align: baseline;
    line-height: 105%;
    padding-left: .5rem;
    padding-right: .2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    overflow: hidden;
    font-size:1rem;
}


span.c {
    color:#000055;
}

.transpose-keys {
	margin: 0.625rem 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.6rem;
	font-weight:0,500;
}
.transpose-keys a { 
	display: block;
	float:left;
	width: 2.25rem;
	text-align: center;
	margin: 0 .25em .25em 0;
	color: #333;
	background: #eee;
	text-decoration: none;
	padding: .4em 0;
	border: solid 1px transparent;
	outline: none;
}
.transpose-keys a.selected { 
  background: #2159D6; 
  color: #FFF;
}

