@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&family=Noto+Sans+Mono:wght@500;700&display=swap');


h1 {
    font-family: 'Montserrat', sans-serif;
    font-variant: normal;
	font-size: 20px;
    font-weight:700;
    color: #1255CC;
    vertical-align: baseline;
    text-decoration: none;
	line-height: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-type: italic;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

pre {
    font-family: 'Noto Sans Mono', monospace;
	font-size: 13px;
    font-weight: 500;
    font-variant: normal;
    vertical-align: baseline;
    text-decoration: none;
    line-height: 14px;
}

.subtitulo {
    font-size: 15px;
    color:#2159D6;
}

span.c {
    color:#153793;
}

.transpose-keys {
	margin: 10px 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight:0,500;
}
.transpose-keys a { 
	display: block;
	float: left;
	width: 2.25em;
	text-align: center;
	margin: 0 .25em .25em 0;
	color: #333;
	background: #eee;
	text-decoration: none;
	padding: .4em 0;
	border: solid 1px transparent;
	outline: none;
}
.transpose-keys a.selected { 
  background: #2159D6; 
  color: #FFF;
}

audio{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    }
  
}
